@font-face {
font-family: 'Futura Demi';
src:
url('../fonts/furura/FuturaDemi.woff') format('woff'),
url('../fonts/furura/FuturaDemi.woff2') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Futura Book';
src:
url('../fonts/furura/FuturaBook.woff') format('woff'),
url('../fonts/furura/FuturaBook.woff2') format('woff');
font-weight: normal;
font-style: normal;
}